#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&mo 1   &kp S   &kp A   &kp ESC  &kp ENTER
            >;

            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        layer_1 {
            bindings = <
&trans  &kp S   &kp A   &kp ESC  &kp ENTER
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };
    };
};
